/*Estilos css*/
@font-face {
    font-family: futura;
    src: url(../fonts/FuturaLight.ttf);
}
@font-face {
    font-family: futuraBk;
    src: url(../fonts/FuturaExtended.ttf);
}
body
{
	margin:0;
}
a
{
	color: black;
}
i
{
	color: white;
}
#contenedor
{
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: auto;
}
#btn_opciones
{
	display: block;
	background-color: black;
	border: 5px solid gray;
	width: 25px ;
	height: 25px;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius:50%;
	color: white;
	z-index: 2;
	text-align: center;
}
#btn_opciones span 
{
	font-family: futura;
	cursor: pointer;
	line-height: -7px;	
}
#span_opciones
{
	font-family: futura;
	cursor: pointer;
	font-size: 11px;
	line-height: -7px;
}
#menu_botones
{
	display: none;
	background: white;
	border: 2px solid gray;
	border-radius: 5px;
	width: 150px;
	position: fixed;
	top: 25px;
	right: 40px;
	padding: 5px;
	z-index: 10;
}
.menu_contenedor
{
	display: block;
	height: 30px;
	margin:0px auto;
	border-bottom:1px solid gray; 
	margin:5px;
	padding: 5px;
	text-align: center;
}
.botones-caja-texto
{
	display: inline-block;
	background: white;
	width: 45%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid gray;
	cursor: pointer;
	font-size: 25px;
	font-family: futura;

}
.botones-caja-texto:hover
{
	background: gray;
	color: white;
}

.botones-caja-lector
{
	opacity: 0.8;
	display: inline-block;
	background: white;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	border:0.2px solid gray;
}
.botones-caja-lector:hover
{
	opacity: 1;
}

#btn_normal
{
	background:#ffffff ;
}
#btn_sepia
{
	background:#7F4900 ;
}
#btn_noche
{
	background:#000000 ;
}
#contenedor-texto
{
	display: block;
	margin:10px auto;
	width: 90%;
	height: auto;
	/*border: 1px solid red;*/
}
#btn_menor span
{
	font-size: 16px;
}